body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  line-height: 12px;
  margin: 10px 0;
}

.single-form-container {
  /* border: 2px solid turquoise; */
  display: flex;
  flex-direction: row;
  padding-bottom: 5px;
  border-bottom: 1px solid #000000;
}

.mobile-top {
  /* border: 2px solid #ff00ff; */
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

.new-image-box {
  /* border: 1px solid #398814; */
  box-sizing: border-box;
  margin: 10px;
  min-width: 102px;
}

.new-image {
  height: 100px;
  width: 100px;
  border: 1px solid #000000;
  border-radius: 5px;
  -webkit-box-shadow: 4px 4px 8px 0px #32323278;
  -moz-box-shadow:    4px 4px 8px 0px #32323278;
  box-shadow:         4px 4px 8px 0px #32323278;
}

.middle-box {
  /* border: 1px solid #881414; */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  min-width: 214px;
}

.middle-box input, select {
  margin: 0;
  width: 100%;
}

.right-box {
  /* border: 1px solid #ffa500; */
  box-sizing: border-box;
  padding-left: 10px;
  width: 100%;
  /* float: left; */
}

@media only screen and (max-width: 650px) {
  .middle-box {
    min-width: 130px;
  }
}

@media only screen and (max-width: 480px) {
  .single-form-container {
    flex-direction: column;
  }
  p {
    margin: 5px 0;
  }
}