.main-block {
  display: flex;
  flex-direction: row;
  /* border: 2px solid #000000; */
  box-sizing: border-box;
}
.left-block {
  margin-left: auto;
  /* border: 2px solid #000000; */
  padding: 10px 20px 20px 20px;
  box-sizing: border-box;
}
img {
  width: 100%;
  box-sizing: border-box;
}

h2 {
  line-height: 25px;
  margin: 1px;
  text-align: left;
}
.stat-block {
  border: 2px solid #000000;
  margin: 20px 0;
  box-sizing: border-box;
}
.tag-cloud {
  border: 2px solid #000000;
  margin: 20px 0 0 0;
  box-sizing: border-box;
}
.right-block {
  background-color: #9BA0B4;
  border: 3px solid #000000;
  margin: 0 5px 0 auto;
  width: 300px;
  box-sizing: border-box;
}

@media only screen and (max-width: 450px) {
  h2 {
    font-size: 18px;
  }
  .left-block {
    padding: 0px 5px 5px 5px;
  }
  .stat-block {
    margin: 5px 0;
    border: 1px solid #000000;
  }
  .tag-cloud {
    border: 1px solid #000000;
    margin: 5px 0 0 0;
  }
}