.main-block {
  display: flex;
  flex-direction: row;
  border: 2px solid #000000;
  box-sizing: border-box;
}
.left-block {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: auto;
  border: 2px solid #000000;
  padding: 10px 20px 20px 20px;
  box-sizing: border-box;
}

.pic-title-block {
  margin: auto;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  box-sizing: border-box;
}

h2 {
  line-height: 25px;
  margin: 1px;
  text-align: left;
}
.stat-block {
  border: 2px solid #0000FF;
  margin: 20px 0;
  box-sizing: border-box;
}

.sidebar {
  background-color: #9BA0B4;
  /* border: 3px solid #000000; */
  /* box-sizing: border-box; */
  margin: 0 5px 0 auto;
  min-width: 250px;
  max-width: 250px;
}

.under-pic {
  display: none;
  background-color: #9db49b;
  /* border: 3px solid #000000; */
  box-sizing: border-box;
  margin: 0 5px 0 auto;
  width: 100%;
}

.tag-cloud {
  border: 2px solid #000000;
  margin: 20px 0 0 0;
  box-sizing: border-box;
}

.tag-cloud > textarea {
  /* Styling information here will overwrite the upload page settings */
}

@media only screen and (max-width: 450px) {
  h2 {
    font-size: 18px;
  }
  .left-block {
    padding: 0px 5px 5px 5px;
  }
  .stat-block {
    margin: 5px 0;
    border: 1px solid #000000;
  }
  .tag-cloud {
    border: 1px solid #000000;
    margin: 5px 0 0 0;
  }
  .sidebar {
    display: none;
  }
  .under-pic {
    display: inherit;
  }
}