.new-picture-forms {
  display: flex;
  flex-direction: column;

  border: 2px solid #000000;
  padding: 3px;
  padding-bottom: 0px;
  
  margin: 5px;
  box-sizing: border-box;
  border-radius: 3px;
  padding-left: 20px;
}