.image-gallery {
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  margin: 5px;
}

/* This should maybe cause the last row to be left-justified */
.image-gallery:after {
  content: "";
  flex: auto;
}

.single-image {
  margin: 20px;
  height: 100px;
  width: 100px;
  border: 1px solid #000000;
  border-radius: 5px;
  -webkit-box-shadow: 4px 4px 8px 0px #32323278;
  -moz-box-shadow:    4px 4px 8px 0px #32323278;
  box-shadow:         4px 4px 8px 0px #32323278;
}

p {
  color: #000000;
}

/* Create styling specific to certain widths */
@media only screen and (max-width: 450px) {
  .image-gallery {
    padding: 5px;
    background-color: #205f8a;
  }
  .single-image {
  margin: 5px;
  height: 100px;
  width: 100px;
  border: 1px solid #000000;
  border-radius: 5px;
  -webkit-box-shadow: 4px 4px 8px 0px #32323278;
  -moz-box-shadow:    4px 4px 8px 0px #32323278;
  box-shadow:         4px 4px 8px 0px #32323278;
  }
}