/* Gets rid of that irritating dotted border in Firefox */
a:active { 
  outline: none; 
}  
a:focus { 
  -moz-outline-style: none;
  outline-style: none; 
}

header {
  display: flex;
  flex-direction: row;
  padding: 10px 30px;
  margin: 5px;
  border: 3px solid #061748;
  background-color: #9BA0B4;
  width: calc(100% - (5px*2)); /* (100% - (#px*2)) Should equal the margin size */
  box-sizing: border-box;
}

.header-segment {
  font-family: 'Averia Sans Libre', sans-serif;
  color: #000000;
  font-size: 20px;
  line-height: 25px;
  /* border: 1px solid #00FF00; */
  display: flex; /* Keeps the search bar centered vertically */
  justify-content: center;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #515E89;
  padding: 5px 10px;
  margin: 0 5px;
}

.modal-search-terms {
  /* border: 3px solid black; */
  padding: 10px 0px;
  font-family: Helvetica, sans-serif;
  font-size:18px;
  text-shadow: 0px 0px 5px #00000080;
  justify-content: space-around;
}

.green {color: #208b1c;}
.red {color: #af1212;}

.ant-btn-circle.ant-btn-sm {
  min-width: 24px;
}

@media only screen and (max-width: 450px) {
  header {
    display: flex;
    flex-direction: row;
    padding: 10px 8px;
    margin: 5px;
  }
}

.search-modal {
  background-color: #9BA0B4;
}

.modal-header {
  padding: 0 0 0 10px;
}

.modal-title {
  font-size: 20px;
  line-height: 20px;
  margin: 5px 0;
}

@media only screen and (max-width: 340px) {
  .modal-title {
    font-size: 15px;
  }
}