.nav-item {
  margin: 5px;
}
.header-segment {
  border: 1px solid #0069D9;
}

.mb-header-div {
  display: none;
}

.bg-dark {
  background-color: #9BA0B4 !important;
}

.navbar-dark .navbar-brand {
  color: #000000;
}

.navbar-dark .navbar-toggler {
  border-color: #000000;
}

.navbar-dark .navbar-toggler {
  /* background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); */
  background-size: 100% 100%;
}

.popdown-search-button {
  width: 97%;
}